@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

@layer utilities {
  @keyframes spin-y {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
  }
  .animate-spin-y {
    animation: spin-y 10s linear infinite; /* Adjust 10s to change speed */
  }
}